<div class="window-container">
	<windowbar title="{value: 'About'}"></windowbar>
	<div class="window-content">
		<section>
			<p>
			Raised in an Iowa farming community, I emigrated to Madison, Wisconsin after receiving my 4-year degree from a liberal arts college.  
			When not writing code, I can be found loving life in appreciation of one or more of my favorite things:  food, exercise, and the great outdoors.  
			An ideal weekend for me is one where I load my bicycle up with camping gear and head into the wilderness to cook over a fire.  
			I also enjoy gardening, trying to avoid sunburn, and whiskey.
			</p>
			<p>
			Colleagues and friends know me for my dry humor and my cooperative nature.  On teams of people I often find myself in a “mediator/communicator” role, 
			understanding the different sides of situations and helping those sides understand each other.  I’m a rational thinker and independent person who thrives 
			on making valuable contributions to something larger than myself.
			</p>
		</section>
	</div>
</div>
