<div class="window-container">
	<windowbar title="Skill"></windowbar>
	<div class="window-content">
		<section class="titled center-block">
			<header>
				<h2>Interpersonal Strengths</h2>
			</header>
			<ul>
				<li class="expander">
					<span class="toggle" tabindex="0">
						<h3>Collaboration</h3>
						<i class="closed icon-folder-empty"></i>
						<i class="open icon-folder-open-empty">
							<div>
								I value team consensus, especially when it comes to high-level decisions. 
								As a member of a small agile team working to convert legacy JavaScript into reusable React components, 
								I had daily discussions with my colleagues about architecture and code style that helped the transition 
								go smoothly and ensured everyone was on the same page during the process.								
							</div>
						</i>
					</span>
				</li>
				<li class="expander">
					<span class="toggle" tabindex="0">
						<h3>Communication</h3>
						<i class="closed icon-folder-empty"></i>
						<i class="open icon-folder-open-empty">
							<div>
								While I take pride in my written communication skills, nothing beats face-to-face interactions between team members. 
								In my role as a technical lead on a project &mdash; with the majority of the team working from different remote locations &mdash; 
								I arranged daily video chats as well as in-person meetings whenever feasible. As a result, productivity and team morale were vastly improved.								
							</div>
						</i>
					</span>
				</li>
				<li class="expander">
					<span class="toggle" tabindex="0">
						<h3>Mediation</h3>
						<i class="closed icon-folder-empty"></i>
						<i class="open icon-folder-open-empty">
							<div>
								At work and in my personal life, I often find myself helping people from different backgrounds to better understand each other. 
								I used my knowledge of both client and server-side technologies to bridge a gap between front-end and back-end developers on a project, 
								helping each side to understand the other&#8217;s perspective and needs in order to get the job done efficiently and effectively.
							</div>
						</i>
					</span>
				</li>
				<li class="expander">
					<span class="toggle" tabindex="0">
						<h3>Listening</h3>
						<i class="closed icon-folder-empty"></i>
						<i class="open icon-folder-open-empty">
							<div>
								My rule of thumb when engaging with others is to do 30% talking and 70% active listening. 
								I&#8217;m good at asking the right questions to make others feel comfortable opening up about themselves.
							</div>
						</i>
					</span>
				</li>
				<li class="expander">
					<span class="toggle" tabindex="0">
						<h3>Mentoring</h3>
						<i class="closed icon-folder-empty"></i>
						<i class="open icon-folder-open-empty">
							<div>
								I started mentoring at an early age:  volunteering at a summer camp teaching survival skills to Girl Scouts, working at the YMCA as a swimming instructor, 
								and teaching music lessons to kids. Those experiences laid the foundation for my successful on-the-job role as mentor for a summer intern, 
								as well as constant two-way knowledge sharing with my peers.								
							</div>
						</i>
					</span>
				</li>
				<li class="expander">
					<span class="toggle" tabindex="0">
						<h3>Problem Solving</h3>
						<i class="closed icon-folder-empty"></i>
						<i class="open icon-folder-open-empty">
							<div>
								The same methods I use to develop technical solutions are useful in personal situations as well. I&#8217;m level-headed and logical in the face of a challenge, 
								able to see multiple sides of almost any conflict, and can outline rational arguments to help determine the best alternative.								
							</div>
						</i>
					</span>
				</li>
			</ul>
		</section>
		<section class="titled center-block">
			<header>
				<h2>Technical Proficiencies</h2>
			</header>
			<div class="logo-tiles">
				<tile name="logo-agile" text="Agile" tabindex="0"></tile>
				<tile name="logo-ajax" text="AJAX" tabindex="0"></tile>
				<tile name="logo-angular" text="Angular 1.0" tabindex="0"></tile>
				<tile name="logo-cakephp" text="CakePHP" tabindex="0"></tile>
				<tile name="logo-css3" text="CSS3" tabindex="0"></tile>
				<tile name="logo-db2" text="IBM DB2" tabindex="0"></tile>
				<tile name="logo-es6" text="ECMAScript 2015 (ES6)" tabindex="0"></tile>
				<tile name="logo-flux" text="Flux" tabindex="0"></tile>
				<tile name="logo-git" text="git" tabindex="0"></tile>
				<tile name="logo-grunt" text="Grunt" tabindex="0"></tile>
				<tile name="logo-html5" text="HTML5" tabindex="0"></tile>
				<tile name="logo-jasmine" text="Jasmine JS" tabindex="0"></tile>
				<tile name="logo-java" text="Java 6" tabindex="0"></tile>
				<tile name="logo-javascript" text="JavaScript" tabindex="0"></tile>
				<tile name="logo-jira" text="Atlassian JIRA" tabindex="0"></tile>
				<tile name="logo-jquery" text="jQuery" tabindex="0"></tile>
				<tile name="logo-karma" text="Karma JS" tabindex="0"></tile>
				<tile name="logo-less" text="LESS" tabindex="0"></tile>
				<tile name="logo-mocha" text="Mocha JS" tabindex="0"></tile>
				<tile name="logo-mysql" text="mySQL" tabindex="0"></tile>
				<tile name="logo-node" text="Node JS" tabindex="0"></tile>
				<tile name="logo-npm" text="NPM" tabindex="0"></tile>
				<tile name="logo-php" text="PHP" tabindex="0"></tile>
				<tile name="logo-q" text="Q Promises" tabindex="0"></tile>
				<tile name="logo-react" text="React" tabindex="0"></tile>
				<tile name="logo-sass" text="SASS" tabindex="0"></tile>
				<tile name="logo-spring" text="Spring" tabindex="0"></tile>
			</div>
		</section>
	</div>
</div>
