<div class="window-container">
	<windowbar title="Skill"></windowbar>
	<div class="window-content">
		<section class="titled center-block">
			<header>
				<h2>Interpersonal Strengths</h2>
			</header>
			<ul>
				<li>Collaboration</li>
				<li>Communication</li>
				<li>Mediation</li>
				<li>Listening</li>
				<li>Mentoring</li>
				<li>Problem Solving</li>
			</ul>
		</section>
		<section class="titled center-block">
			<header>
				<h2>Technical Proficiencies</h2>
			</header>
			<div class="logo-tiles">
				<tile name="logo-agile" text="Agile"></tile>
				<tile name="logo-ajax" text="AJAX"></tile>
				<tile name="logo-angular" text="Angular 1.0"></tile>
				<tile name="logo-cakephp" text="CakePHP"></tile>
				<tile name="logo-css3" text="CSS3"></tile>
				<tile name="logo-db2" text="IBM DB2"></tile>
				<tile name="logo-es6" text="ECMAScript 2015 (ES6)"></tile>
				<tile name="logo-flux" text="Flux"></tile>
				<tile name="logo-git" text="git"></tile>
				<tile name="logo-grunt" text="Grunt"></tile>
				<tile name="logo-html5" text="HTML5"></tile>
				<tile name="logo-jasmine" text="Jasmine JS"></tile>
				<tile name="logo-java" text="Java 6"></tile>
				<tile name="logo-javascript" text="JavaScript"></tile>
				<tile name="logo-jira" text="Atlassian JIRA"></tile>
				<tile name="logo-jquery" text="jQuery"></tile>
				<tile name="logo-karma" text="Karma JS"></tile>
				<tile name="logo-less" text="LESS"></tile>
				<tile name="logo-mocha" text="Mocha JS"></tile>
				<tile name="logo-mysql" text="mySQL"></tile>
				<tile name="logo-node" text="Node JS"></tile>
				<tile name="logo-npm" text="NPM"></tile>
				<tile name="logo-php" text="PHP"></tile>
				<tile name="logo-q" text="Q Promises"></tile>
				<tile name="logo-react" text="React"></tile>
				<tile name="logo-sass" text="SASS"></tile>
				<tile name="logo-spring" text="Spring"></tile>
			</div>
		</section>
	</div>
</div>
