<div class="window-container">
	<windowbar title="Contact"></windowbar>
	<div class="window-content center-vertical">
		<ul class="social-media">
			<li>
				<tile name="linkedin" text="LinkedIn"></tile>
				<a href="https://www.linkedin.com/in/anne-lyttle-b7357689" target="_blank"><i class="icon-link-ext"></i></a>
			</li>
			<li>
				<tile name="gmail" text="GMail"></tile>
				<a href="mailto:annemlyttle@gmail.com" target="_blank"><i class="icon-link-ext"></i></a>
				<input type="text" value="annemlyttle@gmail.com" readonly="true"></input>
			</li>
			<li>
				<tile name="github" text="Github"></tile>
				<a href="https://github.com/lyttam" target="_blank"><i class="icon-link-ext"></i></a>
			</li>
		</ul>
	</div>
</div>
