<div class="window-container">

	<header>
		<a>-</a>
		<h1>Title</h1>
		<span></span>
	</header>
	
	<div class="window-content">
		
		<section class="width-single">
			<a class="button"><span class="focus"><span class="shortcut">O</span>K</span></a>
			<a class="button selected"><span class="focus"><span class="shortcut">C</span>ancel</span></a>
		</section>
		
		<section class="titled width-single">
			<header>
				<h2>Section with Title</h2>
			</header>
			<div class="scrollable">
				<h3>Primary Colors</h3>
				<div class="color-palette">
					<div class="color-1-a"></div>	
					<div class="color-1-c"></div>	
					<div class="color-1"></div>	
					<div class="color-1-d"></div>	
					<div class="color-1-f"></div>
				</div>
				<h3>Secondary Colors</h3>
				<div class="color-palette">
					<div class="color-2-a"></div>	
					<div class="color-2-c"></div>	
					<div class="color-2"></div>	
					<div class="color-2-d"></div>	
					<div class="color-2-f"></div>	
				</div>
				<h3>Tertiary Colors</h3>
				<div class="color-palette">
					<div class="color-3-a"></div>	
					<div class="color-3-c"></div>	
					<div class="color-3"></div>	
					<div class="color-3-d"></div>	
					<div class="color-3-f"></div>	
				</div>
			</div>
		</section>

		<ul class="picker width-single">
			<li class="selected"><a>List Item 1</a></li>
			<li><a>List Item 2</a></li>
			<li><a>List Item 3</a></li>
		</ul>
	</div>
	
	<footer>
		<div class="function-menu">
			<menu>
				<nav>
					<a><span class="shortcut">F1</span>=Help</a>
					<a><span class="shortcut">F2</span>=Menu</a>
					<a><span class="shortcut">F3</span>=Quit</a>
				</nav>
			</menu>
		</div>
	</footer>	
</div>
