$color-primary: 			#37A39B;
$color-primary-lightest: 	#C0F9F5;
$color-primary-light: 		#4BDED3;
$color-primary-dark: 		#2C827B;
$color-primary-darkest: 	#0D514C;

$color-secondary: 			#757575;
$color-secondary-lightest:	#FFFCFB;
$color-secondary-light:		#B1B1B1;
$color-secondary-dark:		#484848;
$color-secondary-darkest:	#212121;

$color-tertiary:			#FF7604;
$color-tertiary-lightest:	#FFBF8A;
$color-tertiary-light:		#FFAA64;
$color-tertiary-dark:		#974500;
$color-tertiary-darkest:	#662E00;

.color-1 {
	background: $color-primary;
}
.color-1-a {
	background: $color-primary-lightest;
}
.color-1-c {
	background: $color-primary-light;
}
.color-1-d {
	background: $color-primary-dark;
}
.color-1-f {
	background: $color-primary-darkest;
}

.color-2 {
	background: $color-secondary;
}
.color-2-a {
	background: $color-secondary-lightest;
}
.color-2-c {
	background: $color-secondary-light;
}
.color-2-d {
	background: $color-secondary-dark;
}
.color-2-f {
	background: $color-secondary-darkest;
}

.color-3 {
	background: $color-tertiary;
}
.color-3-a {
	background: $color-tertiary-lightest;
}
.color-3-c {
	background: $color-tertiary-light;
}
.color-3-d {
	background: $color-tertiary-dark;
}
.color-3-f {
	background: $color-tertiary-darkest;
}
