menu {
	
	background: $color-secondary-lightest;
	height: 2rem;

	nav {
		height: 100%;
		@include flexbox;
		@include flex-align();
		@include menu-item($color-primary, $color-secondary-dark, $color-secondary-light);
	}
}
