menu {
	background: $color-secondary-lightest;
	display: block;

	nav {
		height: 100%;
		@include flexbox();
		@include flex-align();
	}
}

.nav-menu > menu {
	height: 2rem;
	padding: .3rem;
	
	nav a {
		@include menu-item($color-primary, $color-secondary-dark, $color-secondary);
		padding: .4rem .8rem;
		font-size: 1rem;
		letter-spacing: .2rem;
	}
}

.function-menu > menu {
	display: inline-block;
	height: 2.3rem;
	width: 50%;
	margin: 0;

	nav a {
		@include menu-item($color-tertiary-dark, $color-secondary-dark, $color-secondary);
		padding: 0 .5rem;
		font-size: .8rem;
		letter-spacing: .1rem;
	}
}
