@mixin flexbox() {
	display: flex;
}

@mixin flex-align() {
	align-items: flex-start;
}

@mixin menu-item($highlightColor, $inactiveColor, $activeColor) {
	color: $inactiveColor;
	
	span.shortcut {
		color: $highlightColor;
	}

	&:link, &:visited {
		color: $inactiveColor;
	}

	&:active, &:hover {
		color: $activeColor;
	}
}

@mixin drop-shadow($horizOffset, $vertOffset, $radius, $color) {
	-webkit-box-shadow: $horizOffset $vertOffset $radius $color;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    $horizOffset $vertOffset $radius $color;  /* Firefox 3.5 - 3.6 */
	box-shadow:         $horizOffset $vertOffset $radius $color;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

@mixin opacity($opacity) {
	filter: alpha(opacity=$opacity*10); /* IE */
	-moz-opacity: $opacity; /* Mozilla */
	opacity: $opacity; /* CSS3 */
}

@mixin text-format($size, $weight) {
	font-size: $size;
	letter-spacing: $size / 10;
	font-weight: $weight;
}
