/* https://worldvectorlogo.com */
/* https://www.iconfinder.com */

/* svg filename, width, height */
$logos: (
	agile		192.756 192.756,
	ajax		397.5	191.25,
	angular 	512		139,
	cakephp		256		255,
	css3		538.584	538.583,
	db2			300		300,
	es6			256		256,
	flux		256		102,
	git			256		108,
	grunt		360		424,
	html5		512		512,
	jasmine		629.46	146.469,
	java		192.756 192.756,
	javascript	256		256,
	jira		512 	200,
	jquery		512		116,
	karma		256		198,
	less		256 	110,
	mocha		256		256,
	mysql		192.756 192.756,
	node		512 	145,
	npm			256		100,
	php			256		134,
	q			256 	295,
	react		256 	230,
	sass		512		384,
	spring		256 	254
);

$social-media-icons: (
	linkedin,
	gmail,
	github
);

body .app {

	.logo-tiles, .social-media {
		display: flex !important;
		flex-wrap: wrap;
		justify-content: space-around;

		:focus {
			outline: none;
		}

		tile {
			position: relative;

			>span {
				@include opacity(.9);
				@include text-format(.8rem, 700);
				@include hidden();	
				position: absolute;
				z-index: 100;
				background-color: $color-secondary-darkest;
				color: $color-tertiary;

			}
		}
	}

	section.titled .logo-tiles {
		background-color: $color-secondary-light;
		padding: .5rem;
		
		tile {
			width: 3.5rem;
			height: 4rem;
			margin: 0 .4rem 1rem .4rem;
			color: $color-secondary-light;

			>div {
				position: absolute;
				width: 100%;
				background-size: cover;
				background-color: $color-secondary-light;
				height: 0;
				padding: 0; /* reset */
				top: 50%;
				transform: translateY(-50%);
			
				@each $item in $logos {
					
					$aspect-ratio: nth($item, 3) / nth($item, 2);

					&.logo-#{nth($item, 1)} {
						background-image: url(img/#{nth($item, 1)}.svg);
						padding-bottom: 100% * $aspect-ratio; 
					}
				}
			}
			>span {
				width: 6rem;
				height: 100%;
			}
			&:hover, &:focus {
				>span {
					@include align-vertical(center);
					top: 0;
					left: -1.2rem;
					cursor: help;
				}
			}
		}
	}

	ul.social-media {
		padding: 0 8rem;
		height: 115px;

		li {
			display: inherit;
			position: relative;

			tile {

				>div {
					height: 100px;
					width: 100px;
					@include drop-shadow(.8rem, .8rem, 0, $color-secondary-darkest);

					@each $item in $social-media-icons {
						&.#{$item} {
							background-image: url(~/img/8bit-#{$item}.png); 
						}
					}
				}
				>span {
					width: 100%;
					height: 100%;
				}
			}
			
			a {
				@include hidden();	
				z-index: 101;

				&:link, &:visited {
					color: $color-tertiary;
				}

				&:hover, &:active, &:focus {
					color: $color-tertiary-light;
				}

				i {
					@include text-format(1rem, 700);
					position: absolute;
				}
			}

			input {
				@include hidden();	
				width: 90%;
				height: 1.4rem;
				position: absolute;
				z-index: 101;
				cursor: text;
				background-color: $color-secondary-lightest;
				border-color: $color-secondary;
			}

			&:hover, &:focus, &.visible {
				margin-top: .8rem;

				tile>span, a, input {
					display: block;
				}

				tile>div {
					@include drop-shadow(0, 0, 0, transparent);
				}

				tile>span {
					top: 0;
					left: 0;
				}

				input {
					top: 60%;
					left: 5%;
				}

				a {
					top: 40%;
					left: 40%;
				}
			}
		}
	}
}
