header {
	@include flexbox();
	justify-content: space-between;
	background-color: $color-secondary-lightest;

	a {
		@include drop-shadow(.03rem, .03rem, 0, $color-secondary-dark);
		border: .01px solid $color-secondary-lightest;
		color: $color-primary-light;
		display: inline-block;
		height: 1rem;
		width: 1rem;
		font-size: 1.3rem;
		text-align: center;
		line-height: .8rem;
		margin: .1rem .1rem;
		padding: 0;
		background: $color-secondary-darkest;
	}

	h1 {
		display: inline-block;
		margin: 0;
		font-size: 1rem;
		letter-spacing: .1rem;
		color: $color-primary-darkest;
		font-weight: 100;
	}
}
