@import 'colors';
@import 'mixins';
@import 'layout';
@import 'menu';
@import 'windowbar';
@import 'images';

body {
	background-color: $color-secondary-dark;
	color: $color-primary-lightest;
	font-family: monospace;
	margin: 0;

	.app {
		margin: 0 1rem;
		position: relative;
		height: 100%;

		a {
			font-weight: 600;
			text-decoration: none;
			cursor: pointer;
		}

		.button {
			@include drop-shadow(.6rem, .4rem, 0, $color-secondary-darkest);
			@include menu-item($color-tertiary-dark, $color-secondary-dark, $color-secondary);
			background: $color-secondary-light;
			padding: .5rem 2rem;
			margin: 1rem;
			display: block;
			font-size: 1rem;
			font-weight: 200;
			letter-spacing: .1rem;
			white-space: nowrap;
			text-align: center;

			&.selected {
				@include drop-shadow(0, 0, 0, $color-secondary-darkest);
				background: $color-primary-light;
			}

			&:hover, :focus {
				.focus {
					padding: .2rem 2rem;
					display: inline;
					border: 1px dotted $color-secondary-darkest;
				}
			}
		}

		.window-container {
			@include drop-shadow(1rem, .7rem, 0, $color-secondary-darkest);
			background-color: $color-primary-dark;
			height: 300px;
			width: 80%;
			height: 80%;
			max-height: 450px;
			margin: 0 auto;
			position: relative;
			overflow-y: hidden;
			border: 2px solid $color-secondary-lightest;
			border-top: none;

			.window-content {
    			margin: 0 auto;
    			height: 90%;
			}
		}

		pre {
			&.banner {
				font-size: 14px;
				line-height: 1.3rem;
				letter-spacing: 0.1rem;
				font-weight: 700;
				color: $color-tertiary-light;
				width: 920px;
				padding: 1rem;
				text-align: left;
			}

			&.error-banner {
				font-size: 6px;
				letter-spacing: .2rem;
				line-height: .3rem;
			}
		}
		
		section, ul.picker {
			border: 2px solid $color-primary-lightest;
			margin: 1rem;
			display: inline-block;
		}

		section {
			padding: .5rem 1rem;

			&.titled {
				padding: 0;
				border: none;

				>header {
					padding: 0 1rem;
					background-color: $color-secondary-lightest;

					h2 {
						color: $color-primary-darkest;
						font-weight: 100;
						font-size: .8rem;
						letter-spacing: .08rem;
						margin: .2rem;
					}
				}

				>div, ul {
					padding: .5rem 1rem;
					border: 2px solid $color-primary-lightest;
					border-top: none;
					margin: 0;
				}
			}
		}

		ul {
			list-style: none;
			padding: 0 0 0 .8rem;

			&.picker {
				color: $color-secondary-lightest;

				li {
					&.selected {
						background-color: $color-secondary-darkest;
					}

					a {
						font-weight: 400;
						padding: 0 1rem;
						letter-spacing: .1rem;
						line-height: 1.2rem;
					}
				}
			}
		}

		banner {
			display: block;
			margin: 1rem 0 5%;
		}

		home {
			>div {
				width: 80%;
				min-width: 950px;
				background: $color-primary-dark;
			}
		}

		experience {
			.window-container { 
				min-height: 360px;
			
				.window-content {
					@include flexbox();

					nav {
						height: 7rem;
						padding: 2rem 0 1rem 0;

						a.button {
							max-width: 20rem;
						}
					}

					ul.picker {
						height: 9rem;
						display: block;
					}

					section.titled>div {
						height: 16.8rem;
					}
				}
			}
		}

		skill {
			.window-container {
				min-height: 430px;

				.window-content {
					section {
						width: 98%;
						display: block;
					}

					ul {
						display: flex;
						justify-content: space-around;
						flex-wrap: wrap;
						color: $color-secondary-dark;
						background-color: $color-primary-light;

						li.expander {
							width: 18rem;
							margin: 1rem 0;
						}
					}
				}
			}
		}

		style-library {
			.window-container .window-content {
				@include flexbox();
				flex-wrap: wrap;

				.expander {
					height: 80px;
				}
			}
		}

		footer {
			position: absolute;
			bottom: 0;
			width: 100%;
		}

		.hide {
			@include hidden();
		}

		.center-inline {
			text-align: center;
		}

		.center-block {
			margin-left: auto;
			margin-right: auto;
		}

		.center-vertical {
			@include align-vertical(center);
		}

		.scrollable {
			overflow-y: scroll;
			
			&::-webkit-scrollbar {
				width: 1rem;
			}
			&::-webkit-scrollbar-track-piece {
				background-color: $color-secondary;
			}
			&::-webkit-scrollbar-thumb {
				background-color: $color-secondary-light;
				border: .1rem solid $color-secondary-dark;
			}
		}

		.expander {
			position: relative;
			
			.toggle {
				cursor: pointer;

				h3 {
					@include text-format(1.2rem, 400);
					display: inline-block;
					position: absolute;
					top: 0;
					left: 3rem;
					margin: 0;
					line-height: 2rem;
				}

				i {
					font-size: 1.5rem
				}

				.closed {
					position: relative;
					display: inline-block;
				}

				.open {
					@include hidden();

					>div {
						@include opacity(.9);
						@include text-format(.8rem, 400);
						position: fixed;
						z-index: 100;
						background-color: $color-secondary-darkest;
						color: $color-tertiary;
						padding: .5rem 1rem;
						margin: 0 2.3rem;
						width: 400px;
					}
				}

				&:hover, &:focus {
					.closed {
						@include hidden();
					}

					.open {
						position: relative;
						top: 0;
						left: 0;
						display: inline-block;
					}	
				}
			}
		}

		.tagline {
			font-size: 20px;
			color: $color-primary-lightest;
			margin: 0 0 10%;
			display: inline-block;
		}

		.color-palette {
			@include flexbox();
			@include flex-align();
			margin: .5rem 0;

			>div {
				height: 6rem;
				width: 3rem;
				margin: .1rem;
			}
		}
	}
}
