@import 'colors';
@import 'mixins';
@import 'layout';
@import 'menu';
@import 'windowbar';

body {
	background-color: $color-secondary-dark;
	color: $color-primary-lightest;
	font-family: monospace;
	margin: 0;

	.app {
		margin: 0 1rem;
		position: relative;
		height: 100%;

		a {
			font-weight: 600;
			text-decoration: none;
			cursor: pointer;
		}

		.button {
			@include drop-shadow(.6rem, .4rem, 0, $color-secondary-darkest);
			@include menu-item($color-tertiary-dark, $color-secondary-dark, $color-secondary);
			background: $color-secondary-light;
			padding: .5rem 2rem;
			margin: 1rem;
			display: block;
			font-size: 1rem;
			font-weight: 200;
			letter-spacing: .1rem;
			white-space: nowrap;
			text-align: center;

			&.selected {
				@include drop-shadow(0, 0, 0, $color-secondary-darkest);
				background: $color-primary-light;
			}

			&:hover, :focus {
				.focus {
					padding: .2rem 2rem;
					display: inline;
					border: 1px dotted $color-secondary-darkest;
				}
			}
		}

		.window-container {
			@include drop-shadow(1rem, .7rem, 0, $color-secondary-darkest);
			background-color: $color-primary-dark;
			height: 300px;
			width: 80%;
			height: 80%;
			margin: 0 auto;
			position: relative;
			overflow-y: hidden;
			border: 2px solid $color-secondary-lightest;
			border-top: none;

			.window-content {
    			margin: 0 auto;
    			height: 90%;
			}
		}

		pre {
			&.banner {
				font-size: 14px;
				line-height: 1.3rem;
				letter-spacing: 0.1rem;
				font-weight: 700;
				color: $color-tertiary-light;
				width: 920px;
				padding: 1rem;
				text-align: left;
			}

			&.error-banner {
				font-size: 6px;
				letter-spacing: .2rem;
				line-height: .3rem;
			}
		}
		
		section, ul.picker {
			border: 2px solid $color-primary-lightest;
			margin: 1rem;
			display: inline-block;
		}

		section {
			padding: .5rem 1rem;

			&.titled {
				padding: 0;
				border: none;

				>header {
					padding: 0 1rem;
					background-color: $color-secondary-lightest;

					h2 {
						color: $color-primary-darkest;
						font-weight: 100;
						font-size: .8rem;
						letter-spacing: .08rem;
						margin: .2rem;
					}
				}

				>div {
					padding: .5rem 1rem;
					border: 2px solid $color-primary-lightest;
					border-top: none;
				}
			}
		}

		ul.picker {
			list-style: none;
			padding: 0 0 0 .8rem;
			color: $color-secondary-lightest;

			li {
				&.selected {
					background-color: $color-secondary-darkest;
				}

				a {
					font-weight: 400;
					padding: 0 1rem;
					letter-spacing: .1rem;
					line-height: 1.2rem;
				}
			}
		}

		banner {
			display: block;
			margin: 1rem 0 5%;
		}

		home {
			>div {
				width: 80%;
				min-width: 950px;
				background: $color-primary-dark;
			}
		}

		experience {
			.window-container .window-content {
				@include flexbox();

				nav {
					height: 7rem;
					padding: 2rem 0 1rem 0;

					a.button {
						max-width: 20rem;
					}
				}

				ul.picker {
					height: 9rem;
					display: block;
				}

				section.titled>div {
					height: 16.8rem;
				}
			}
		}

		style-library {
			.window-container .window-content {
				@include flexbox();
			}
		}

		footer {
			position: absolute;
			bottom: 0;
			width: 100%;
		}

		.hide {
			display: none !important;
		}

		.center-inline {
			text-align: center;
		}

		.center-block {
			margin-left: auto;
			margin-right: auto;
		}

		.scrollable {
			overflow-y: scroll;
			
			&::-webkit-scrollbar {
				width: 1rem;
			}
			&::-webkit-scrollbar-track-piece {
				background-color: $color-secondary;
			}
			&::-webkit-scrollbar-thumb {
				background-color: $color-secondary-light;
				border: .1rem solid $color-secondary-dark;
			}
		}

		.tagline {
			font-size: 20px;
			color: $color-primary-lightest;
			margin: 0 0 10%;
			display: inline-block;
		}

		.color-palette {
			@include flexbox();
			@include flex-align();
			margin: .5rem 0;

			>div {
				height: 6rem;
				width: 3rem;
				margin: .1rem;
			}
		}
	}
}
